// Colors
$white-color: #ffffff;
$black-color: #000000;
$blue-color: #009eff;
$light-blue-color: #11a4ff;
$light-green-bg: #46c4b4;
$dark-green-bg: #3baeac;
$gray-color: #8898ab;
$dark-gray-color: #6b7b93;
$light-gray-bg: #f7f8fd;
$light-gray-color: #f1f9f9;
$footer-header-color: #73899d;
$footer-links-color: #53657a;
$footer-links-hover: #3e4c5b;

$types-blue-bg: #4ec6f9;
$types-green-bg: #7fcf9a;
$types-pink-bg: #e07577;

// Gradients
$blue-gradient-color: rgba(57, 186, 229, 0.8);
$green-gradient-color: rgba(150, 199, 116, 0.8);
$blue-gradient-color-two: rgba(54, 186, 231, 0.8);
$purple-gradient-color: rgba(162, 134, 228, 0.8);
$orange-gradient-color: rgba(246, 205, 171, 0.8);
$pink-gradient-color: rgba(229, 129, 124, 0.8);

$dark-blue-color: #3587f2;
$dark-purple-color: #9560b4;