//Library section
#library{
  //Back to top button
  #scrollBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $dark-green-bg;
    color: $white-color;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

    &:hover{
      background-color: $light-green-bg;
    }

    img{
      width: 45px;
      height: 45px;
    }
  }
    .gray-text{
        color: $gray-color;
    }

    .library-card{
        -webkit-box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.27);
        -moz-box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.27);
        box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.27);
    }
    .card-content{
        padding: 20px;
    }
    // First card
    .video-img{
        @include backgroundImg('video.png', contain, 173px);
        @include topRadius(5px, 5px);
      .library-card-header{
        @include linearGradient(160deg, $blue-gradient-color, $green-gradient-color);  
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
      }
    }
    // Second card
    .marketing-img{
        @include backgroundImg('marketing.png', contain ,173px);
        @include topRadius(5px, 5px);

      .library-card-header{
        @include linearGradient(160deg, $blue-gradient-color-two, $purple-gradient-color);  
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
      }
    }
    // Third card
    .content-img{
        @include backgroundImg('content.png', contain, 173px);
        @include topRadius(5px, 5px);

      .library-card-header{
        @include linearGradient(160deg, $orange-gradient-color, $pink-gradient-color);  
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
      }
    }
    // Fourth card
    .ads-img{
        @include backgroundImg('ads.png', contain, 173px);
        @include topRadius(5px, 5px);

      .library-card-header{
        @include linearGradient(160deg, $orange-gradient-color, $pink-gradient-color);  
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
      }
    }
    // Fifth card
    .social-img{
        @include backgroundImg('social.png', contain, 173px);
        @include topRadius(5px, 5px);

      .library-card-header{
        @include linearGradient(160deg, $blue-gradient-color, $green-gradient-color);  
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
      }
    }
    // Sixth card
    .retargeting-img{
        @include backgroundImg('retargeting.png', contain ,173px);
        @include topRadius(5px, 5px);

      .library-card-header{
        @include linearGradient(160deg, $blue-gradient-color-two, $purple-gradient-color);  
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
      }
    }
    //Type of card
    .content .type{
        @include lybraryType(5px, $types-pink-bg, 90px, 3px);
    }
    .marketing .type{
        @include lybraryType(5px, $types-green-bg, 90px, 3px);
    }
    .video .type{
        @include lybraryType(5px, $types-blue-bg, 90px, 3px);
    }
    .ads .type{
        @include lybraryType(5px, $types-green-bg, 90px, 3px);
    }
    .social .type{
        @include lybraryType(5px, $types-blue-bg, 90px, 3px);
    }
    .retargeting .type{
        @include lybraryType(5px, $types-pink-bg, 90px, 3px);
    }

    //Json info styling
    .overlay-img{
        max-width: 100%;
    }
    .library-card-header{ 
        @include topRadius(5px, 5px);
        width: 100%;
        height: 173px;
    }
}

// Topics
#topics{
    background-color: $light-gray-bg;

    .arrow-container{  
        width: 90px;
        height: 90px;
        border-radius: 50px;
        position: relative;
        top: -50px;
        background-color: $light-gray-bg;
    }

    .img-container{
        width: 70px;
        height: 70px;
        border-radius: 50px;
        border: 1px solid #d9dff0;
    }

    a{
        color: $dark-gray-color;
    }
    .nav-pills .nav-link{
      border-radius: unset;
    }

    .nav-pills .nav-link.active, 
    .nav-pills .show>.nav-link{
      color: $dark-gray-color;
      background-color: transparent;
      border-bottom: 3px solid $blue-color;
    }

    .tab-container{
        -webkit-box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.27);
        -moz-box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.27);
        box-shadow: 3px 13px 28px -5px rgba(0,0,0,0.27);
        background: $white-color;
        img{
            float: left;
        }
    }
    .info{
        padding-top: 20px;
        padding-left: 180px;
        font-size: 18px;
        min-height: 179px;
    }
    .small-text{
        font-size: 12px;
        span{
            color: $light-blue-color;
        }
    }
}

// Subscribe section
.subscribe-bg{
    @include linearGradient(160deg, $dark-blue-color, $dark-purple-color);

    h2{
        font-size: 36px;
    }

    .form-control{
      padding: 28px 45px;
      color: $black-color;
      font-weight: bold;
      border: none;
      border-radius: 50px;
    }

    .input-group-text{
      padding: 10px 35px;
      color: $white-color;
      background: $blue-color;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }

    #message-container{
        background: $white-color;
        padding: 1px;
        border-radius: 35px;
        
        #errorMessage p{
            color: $types-pink-bg;
            padding-top: 10px;
        }
        #successMessage p{
            color: $types-green-bg;
            padding-top: 10px;
        }
    }
    .hide{
        opacity: 0;
    }
}

// Media Queries
@media only screen and (max-width: 1200px) {
    #library{
      .video-img, .marketing-img, .content-img, .ads-img, .social-img, .retargeting-img{
        .library-card-header{
          height: 144px;
        }
      }
    }
}

@media only screen and (max-width: 992px) {
    #library{
        .video-img, .marketing-img, .content-img, .ads-img, .social-img, .retargeting-img{
          height: 104px;
            .library-card-header{
              height: 104px;
              }
          }
        .second-lybrary{
          height: 104px !important;
        }
        .floated{
          float: right;
        }
    }
}

@media only screen and (max-width: 767px) {
    .hidden{
      display: none;
    }
    #library{
        .library-card{
          max-width: 363px;
        }
        .video-img, .marketing-img, .content-img, .ads-img, .social-img, .retargeting-img{
          height: 180px;
          background-size: auto;
            .library-card-header{
              height: 180px;
            }
          }
        .second-lybrary{
          height: 180px !important;
        }
      }
    .center-content{
      display: flex;
      justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    #topics {
      .tab-container {
        max-width: 161px;
        img {
        float: none; 
        }
      }
      .info{
        min-height: auto;
        padding: 10px 20px;
      }
      .nav-pills{
        justify-content: center;
      }
      .center-content{
        display: flex;
        justify-content: center;
      }
    }

    .subscribe-bg {
        .form-control{
          font-size: 14px;
          padding: 28px 20px;
        }
        .input-group-text{
          font-size: 14px;
          padding: 10px 20px;
        }
    }
}

@media only screen and (max-width: 360px) {
    #library{
      .video-img, .marketing-img, .content-img, .ads-img, .social-img, .retargeting-img{
        height: 163px;
        .library-card-header{
          height: 163px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    #library{
        .video-img, .marketing-img, .content-img, .ads-img, .social-img, .retargeting-img{
          height: 129px;
          background-size: cover;
          .library-card-header{
            height: 129px;
            }
        }
        .second-lybrary{
          height: 129px !important;
        }
      }
    #topics .tab-container{
      max-width: 161px
   }
}