// Footer styling
footer{
    background-color: $light-gray-color;

    .footer-list{
      display: inline-flex;
    }

    .footer-header{
      color: $footer-header-color;
    }

    .footer-link, .bottom-footer, a{
      color: $footer-links-color;

        &:hover{
          color: $footer-links-hover;
        }
    }
    .bottom-footer{
      border-top: 1px solid #dce1ec;
      padding-top: 20px;
        .company-info li{
          float: left;
          padding-left: 20px;
        }
    }
    .social-links{
      text-align: right;
        
     li{
      display: inline;
      }
      a:hover{
        text-decoration: none;
      }
      img{
        transition: all .2s ease-in-out;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
}

// Media Queries
@media only screen and (max-width: 1200px) {
    footer {
        .small-margin{
          margin-left: 30px;
        }
    }
}

@media only screen and (max-width: 991px) {
    footer{
     .social-links{
      text-align: center;
      margin-top: 10px;
     }
    }
}

@media only screen and (max-width: 767px) {
    footer {
        text-align: center;
        .row{
            justify-content: center;
        }
       .footer-list{
           display: block;
       }
      .bottom-footer{
        text-align: center;
        color: $footer-links-color;

        .company-info li{
          float: none;
          padding-left: 0;
        }
        }
        .small-margin{
          margin-left: 0;
        }
        .social-links{
          text-align: center;
        }
    }
}
@media only screen and (max-width: 320px) {
    .subscribe-bg{
      .form-control {
        padding: 28px 15px;
      }
      .input-group-text{
          padding: 10px 10px;
      }
    }
}