//Header styling
.header-bg{
  background: url('../img/header.jpg') no-repeat center center;
  background-size: cover;  
  max-width: 2000px;
  min-height: 842px;
  position: relative; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-text{
  padding-top: 90px;
}

.mouse-container{
  background: $light-green-bg;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  position: relative;
  bottom: -340px;
}

// Media Queries
@media only screen and (max-width: 1199px) {
    .header-bg{
        .mouse-container{
          bottom: -320px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header-bg{
        min-height: 863px;
        .mouse-container{
          position: absolute;
          bottom: -35px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .header-bg{
      min-height: 845px;
        h1{
          font-size: 28px;
        }
        p{
          font-size: 14px;
        }
    }
    .header-text{
      padding-top: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .header-bg{
      min-height: 902px;
    }
}


@media only screen and (max-width: 320px) {
  .header-bg{
      h1{
        font-size: 32px;}  
    }
}