// Bootstrap overrides
.navbar-light .navbar-toggler{
    border-color: $white-color !important;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link{
    padding-right: 15px !important;
    padding-left: 15px !important;
    transition: all 0.2s ease-in;
    &:hover{
      border-bottom: 2px solid $white-color;
      transform: translateY(-5px);
      -o-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
    }
}

span{
  border-right: 3px solid $white-color;
  padding-right: 15px;
}

.sign-up-button{
    margin-right: -45px;
}

@media only screen and (max-width: 1200px) {
    .navbar-light .navbar-nav .nav-link{
        padding-right: 25px !important;
    }
}

@media only screen and (max-width: 1160px) {
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-start;
    }
    .navbar-light .navbar-nav .nav-link{
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    span{
        border: none;
        padding: 0;
    }
}

// Media Queries
@media only screen and (max-width: 320px) {
    .navbar-brand img{
        max-width: 100%;
    }
}